<div class="header"><a href="http://blismobile.com/index.html"><img src="{$global_url}images/blis_logofollowon.png" alt="BlisMobile Media" name="BlisMobile Media" width="150" height="148" id="BlisMobile Media" style="display:block;" /></a></div>

<div class="sidenav">
        <ul class="nav">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>

        <div class="address"> BlisMobile Media<br>
                32 Percy Street<br/>
                London W1T 2DE<br/>
                Tel: 0207 436 7200<br/>
                <br/>
                <a href="mailto:info@blismobile.com">info@blismobile.com</a><br>
                <a href="http://twitter.com/#!/BlisMobile"><img src="images/twiiter.png" width="123" height="22" alt="twitter blismobile" longdesc="http://twitter.com/#!/BlisMobile"></a>
        </div>
</div>

<div class="clearfloat"></div>

<div class="footer"></div>
</body>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-8887785-2']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</html>
